#!/bin/bash

echo "Setting ARM_SUBSCRIPTION_ID= env variable..."
export ARM_SUBSCRIPTION_ID=""

echo "Setting TF_VAR_access_key env varialbe..."
export TF_VAR_access_key=""

echo "Setting TF_VAR_secret_key env varialbe..."
export TF_VAR_secret_key=""