#!/bin/bash

echo "Setting ARM_ACCESS_KEY env variable..."
export ARM_ACCESS_KEY=""

echo "Setting TF_VAR_access_key env varialbe..."
export TF_VAR_access_key=""

echo "Setting TF_VAR_secret_key env varialbe..."
export TF_VAR_secret_key=""